*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #0f172a;
}

header{ 
    padding: 34px 0;
    margin-bottom: 94px;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    display: flex;
    list-style: none;
    gap: 40px;
    
}

.navigation li{
    padding: 10px;
}

.navigation li a{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: left;
    color: #F8FAFC
}

h2{
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 56.25px;
    text-align: left;

    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 56.25px;
    text-align: left;

    color: #F8FAFC;

    gap: 0;
    margin-bottom: 83px;
}

h2 span{
    color: #16B8F3;
}


.container2{
    max-width: 1150px;
    margin: 0 auto;
}

 .cards{
    display: flex;
    flex-direction: column;
    gap: 41px;
}

  .card{
    padding: 34px 8px;
    gap: 44px;
    border-radius: 20px;
    display: flex;
    align-items: center;

    background-color: #1E293B66;

} 

 .card > div{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cards p{
    color: #CBD5E1;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;

    display: flex;
    flex-direction: column;
}

.cards h3{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    text-align: left;

    color: #F8FAFC;
}

.cards div p:first-child{
    margin-bottom: 14px;
}

.recent-projects{
    margin-bottom: 94px;
}


.container3 {
    max-width: 1150px;
    margin: 0 auto;
}


.panel{
    width: 369px;
    height: 518px;
    gap: 0px;
    border-radius: 20px 0px 20px 20px;
    
    background-color: #1E293B66;

}

.panels{
    display: flex;
    flex-direction: row;
    gap: 50px;

    margin-bottom: 94px;
}

.panel h3{
    color: #F8FAFC;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;

    
}


small{
    color: #939ba7;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;

    display: flex;
    flex-direction: column;

    padding: 25px;
}

.panel small span{
    align-self: center;
    color: white;
    margin-top: 10px;
    text-align: center;
    width: 100%; 
    
}


footer {
    max-width: none;
    min-width: 1440px;
}


.footer line img {
    width: 100%;
    display: block;
}


.copyright {
 width: Hug (331px)px;
height: Hug (23px)px;
top: 2277px;
left: 108px;
gap: 800px;
opacity: 0px;
}


.female {
    width: Hug (152px)px;
    height: Hug (44px)px;
    top: 2255px;
    left: 1116px;
    gap: 10px;
    opacity: 0px;
}


.end {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-between;
}